<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="/stylesheets/footer.css">
</head>
	<body>
	
		<footer class="footer-distributed">

			<div class="footer-left">
				<h3>WebApp<span>Page</span></h3>
				<p class="footer-copyright">© 2020 WebApp Page</p>
			</div>

			<div class="footer-right">
				<p class="footer-company-about">
					<span>About the company</span>
					We offer users the most affordable and tasty foods near them!</p>
			</div>
        </footer>
        <!-- copyright -->
    <!-- <div class="container">
        <footer class="copyright">© 2020 Pavan Kaur.</footer>
        <footer class="about">Back To Top.</footer>
    </div> -->
	</body>
</html>