<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="/stylesheets/footer.css">
</head>
	<body>
		<footer class="footerContainer">
				<p class="footerDescrip">
					<span>Offering the most affordable and tasty foods near you!</span>
					© 2020 Yummy Tummies</p>
        </footer>
	</body>
</html>