<footer class="footerContainer">
    <p class="footerDescrip">
        <span>Offering the most affordable and tasty foods near you and your friends!</span> © 2020 Snap Yummies</p>
</footer>
</body>

</html>