<!DOCTYPE html>
<html>
  <head>
    <title>WebApp's Landing Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <br>
    <br>
    <h1>Welcome to Yummy Tummies</h1>
  </body>
</html>
