<!DOCTYPE html>
<html>

<head>
    <title>Yummy Tummies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/restaurants.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
</head>
<header>
    <h1>Welcome to Yummy Tummies</h1>
</header>

<body></body>

</html>