<!DOCTYPE html>
<html>
  <head>
    <title>WebApp's Landing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/zipcodepage.css" />
  </head>

  <header>
    <h1>Welcome to WebApp</h1>
    <p>some greeting message to users!</p>
  </header>  
  <body></body>
</html>
