<%- include('partials/header') %>
    <body>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
            <div class="top">
                <br>
                <br>
                <br>
                <h1 style="margin-left: 2%; transform: rotate(-10deg);">Snap</h1>
                <div class="button">
                    <a href='/zipcode'>Tap!</a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              
                
                <h1 style="text-align: center; transform: rotate(-10deg);"> Yummies</h1>
            </div>
        

            <%- include('partials/footer') %>