*{
	padding:0;
	margin:0;
} 

 html{
    background-color: #eaf0f2;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTDh5-kNAcnX6R49zBMsVODuLhSvH6Tloecig&usqp=CAU");  */
} 


@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
    background-color: #2c292f;
    /* background-color: #12062C; */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	/* padding: 50px 50px 60px 50px; */
    /* margin-top: 80px; */
    margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    /* width: 30%; */
    width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed .footer-copyright{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
