header {
  background-image: url('images/elevn.png');
  height: 35vh;
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    background-size: cover; 
    color: #fff;
  }

 * {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
 }
 
 body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

 h1, h2{
     text-align: center;
     color: white;
 }
 
 form{
     text-align: center;
 }
 
 * {
    box-sizing: border-box;
  }

  .price{
        text-align: right;
  }
  
  .rating{
      text-align: left;
      float: left;
  }

  .distance{
      text-align: left;
  }
  
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    /* width: 16.66%; */
    /* width: 20%; */
    width: 50%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    /* opacity: 0.6; */
    object-fit: cover;
    width: 100%;
    height: 255.22px;
  }
  
  /* .active,
  .demo:hover {
    opacity: 1;
  } */

  .centerPic{
        object-fit: cover;
        /* width:500px; 
        height:400px */
        width: 65%;
        height: 300px;
        margin-left: 17.5%;

  }