header {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  /* flex-box thing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover; 
  margin-bottom: 50px;
 }
 
 * {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
 }
 
 #down {
  position: absolute;
  top:85vh;
  padding: 20px;
  font-size: 2.5em;
 }
 
 #down:hover {
  cursor: pointer;
  background-color: #eee;
  opacity: 0.8;
 }
 
 .img-container{
     text-align: center;
 }
 
 .bounce {
     position: absolute;
     top: 78%; /*59*/
     left: 47.5%;
     width: 70px;
     height: 75px;
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
     -webkit-animation: sdb05 1.75s infinite;
     animation: sdb05 1.75s infinite;
 }
 
 @-webkit-keyframes sdb05 {
     0% {
         -webkit-transform: rotate(0deg) translate(0, 0);
         opacity: 0;
     }
     50% {
         opacity: 1;
     }
     100% {
         -webkit-transform: rotate(0deg) translate(0, 20px);
         opacity: 0;
     }
 }
 
 @keyframes sdb05 {
     0% {
         transform: rotate(0deg) translate(0, 0);
         opacity: 0;
     }
     50% {
         opacity: 1;
     }
     100% {
         transform: rotate(0deg) translate(0, 20px);
         opacity: 0;
     }
 }

 
 