<form action='/signin' method="POST">
    <input type="text" name="username" placeholder="Username" />
    <input type='text' name="email" placeholder="Email" />
    <input type='password' name="password" placeholder="Password" />
    <button>Sign Up</button>
    <%= error %>
</form>