<%- include('../partials/zipcodepage_header') %>

    <h2>Search Food :</h2>
    <form action="/zipcode" method="post" >
      <div class = "userInputs">
        <input type="text" name="userzip" id="userzip" placeholder="Enter your ZipCode" required pattern="[0-9]*" >
        <select name="restaurantType" id="restaurantType">
          <option value="pizza">Pizza</option>
          <option value="sushi">Sushi</option>
          <option value="thai">Thai</option>
          <option value="japanese">Japanese</option>
          <option value="mexican">Mexican</option>
          <option value="chinese">Chinese</option>
          <option value="tradamerican">American</option>
          <option value="burgers">Burger</option>
          <option value="greek">Greek</option> 
        </select>
        <button type="submit" id="button" name="button"></button>
      </div>
      <br>
      
      <div id='map' style='width: 100%; height: 500px;'></div>
      
    </form>
<%- include('../partials/footer') %>
