<%- include('../partials/zipcodepage_header') %>

  
  <!-- <h1><%= title %></h1> -->
    <!-- <p>Welcome to the <%= title %></p> -->
      <h1 style="color: white; font-size: 48px;">To Receive Our Personalized Recommendations:</h1>
    <br>
    <br>
    <br>
    <br>
    <h2 style="color: white;">Enter your ZipCode . . .</h2>
    <br>
    <br>
    <form action="/zipcode" method="post" >
      <input type="text" name="userzip" id="userzip" required pattern="[0-9]*" >
      <br>
      <br>
      <br>
      <button type="submit" id="button" name="button">Recommend Me</button>
      
      
    </form>
<%- include('../partials/footer') %>
