<%- include('../partials/zipcodepage_header') %>


    <!-- <h1><%= title %></h1> -->
    <!-- <p>Welcome to the <%= title %></p> -->
    <!-- <h1 style="color: white; font-size: 48px;">To Receive Our Personalized Recommendations:</h1> -->
    <!-- <h1 style="color: white">To Receive Our Personalized Recommendations:</h1>
      
    <br>
    <br>
    <br>
    <br> -->
    <!-- <h2 style="color: white;">Enter your ZipCode . . .</h2>
    <br>
    <br> -->
    <h2>Search Food :</h2>
    <button type="geolocation" id="geobutton" name="geolocation"></button>
    <form action="/zipcode" method="post">
        <div class="userInputs">
            <input type="text" name="userzip" id="userzip" placeholder="Enter your ZipCode" required pattern="[0-9]*">
            <select name="restaurantType" id="restaurantType">
          <option value="pizza">Pizza</option>
          <option value="sushi">Sushi</option>
          <option value="thai">Thai</option>
          <option value="indian">Indian</option>
          <option value="dessert">Dessert</option>
          <option value="mexican">Mexican</option>
          <option value="chinese">Chinese</option>
          <option value="fastfood">Fast Food</option>
          <option value="breakfast">Breakfast</option>
          <option value="american">American</option>
          <option value="coffee">Coffee</option>
          <option value="italian">Italian</option>
          <option value="burger">Burger</option>
          <option value="vegan">Vegan</option>
          <option value="icecream">Ice Cream</option>
        </select>
            <button type="submit" id="button" name="button"></button>

        </div>

        <!-- <button type="submit" id="button" name="button">Recommend Me</button> -->
        <br>
        <!-- <br>
      <br> -->

        <div id='map' style='width: 100%; height: 500px;'></div>

    </form>

    <script>
        var geoObject = {
            long: 0,
            lat: 0
        }
        let isGeolocOn = false;
        const geo = document.getElementById("geobutton")
        geo.addEventListener("click", () => {
            navigator.geolocation.getCurrentPosition(geodata => {
                isGeolocOn = true;
                geoObject.long = geodata.coords.longitude;
                geoObject.lat = geodata.coords.latitude;
                console.log(geoObject, "this is the geodata in the long object")
                window.localStorage.setItem("coordinates", JSON.stringify(geoObject))
                window.localStorage.setItem("isGeolocOn", JSON.stringify(isGeolocOn))
            }, (error) => console.log("not working homie"), {
                enableHighAccuracy: true
            })

        })
    </script>
    <%- include('../partials/footer') %>